:root {
    /* Primary colors */
    --color-primary: #151B23;
    --color-primary-dark: #181f2b;
    --color-primary-darker: #0D1117;
    --color-primary-light: #3d444d;
    --color-primary-ligher: #212830;

    /* Neutral/background colors */
    --color-neutral: #f0f6fc;
    --color-neutral-dark: #b8b5a9;

    /* Accent colors */
    --color-accent: #b6613c;
    --color-accent-dark: #9c5232;

    /* Semantic aliases - examples of how you might use them */
    --color-background: var(--color-primary-light);

    --color-text-dark: var(--color-primary-dark);
    --color-text-light: var(--color-neutral);     /* For dark backgrounds */
    --color-text-accent: var(--color-accent);

    /* button regular styles */
    --color-button: var(--color-primary);
    --color-button-text: var(--color-neutral);
    --color-button-border: var(--color-primary-darker);
    --button-border-width: 2px;
    --button-transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1);

    /* button hover styles */
    --color-button-hover: var(--color-primary);
    --color-button-text-hover: var(--color-neutral-dark);
    --color-button-border-hover: var(--color-primary-darker);
    --button-border-width-hover: 2.5px;

    /* button active styles */
    --color-button-active: var(--color-primary);
    --color-button-text-active: var(--color-neutral-dark);
    --color-button-border-active: var(--color-primary-darker);
    --button-border-width-active: 2.5px;

    --button-transform-active: scaleX(.97) scaleY(.98);
}
html {
    height: 100%;
    background-color: var(--color-background);
}
body {
    margin: 0px;
    font-family: Verdana, sans-serif;
    color: var(--color-text-dark);
    height: 100%;
    overflow: hidden; /* lock app */
}
#app {
    height: 100%;
    width: 100%;
}

.wiggle {
    transition: transform .2s;
    animation-duration: 200ms;
    animation-name: wiggle;
    animation-iteration-count: 4;
    transform-origin: center;
}
@keyframes wiggle {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(0, 1px) rotate(1deg); }
    50% { transform: translate(0, 0) rotate(0deg); }
    75% { transform: translate(0, -1px) rotate(-1deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}
