html {
    height: 100%;
    background: radial-gradient(#705838, #d4bea1);
}
body {
    margin: 0px;
    font-family: Verdana, sans-serif;
    color: #42210d;
    height: 100%;
    overflow: hidden; /* lock app */
}
